@import './../../styles/variables';

.Button {
  display: block;
  padding: 6px;
  border-radius: calc(2 * #{$space});
  line-height: 18px;
}

.Active {
  &.Style--Text {
    &.Color {
      &--Yellow {
        background-color: $yellow-dimmed;
      }
      &--Green {
        background-color: $green-dimmed;
      }
    }
  }
}

.Disabled {
  opacity: 0.6;
}

.Style {
  &--Text {
    margin: 0 -6px;
  }
  &--Fill {
    color: #fff;
    padding: 15px calc(3 * #{$space});
  }
}

.Color {
  &--Secondary {
    &.Style--Fill {
      background-color: $light-grey;
    }
  }

  &--Primary {
    &.Style--Fill {
      background-color: $blue;
    }
  }

  &--Yellow {
    color: $yellow;
  }

  &--Green {
    color: $green;
  }
}
