@import './../../../../styles/variables';

.Navigation {
  min-height: 54px;
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  padding: calc(2 * #{$space}) calc(5 * #{$space});

  background-color: $dark-grey;
}

.Brand {
}

.Username {
  color: $blue;
}

.Actions {
  margin-left: auto;
}
