@import './../../styles/variables';

.List {
  position: relative;
  display: block;
  border-radius: 12px;
  background-color: #{$light-grey};

  &__Item {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  }
}
